<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DispatcherServlet</servlet-name>
        <servlet-class>vinhnq.dispatcher.DispatcherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountRegisterServlet</servlet-name>
        <servlet-class>vinhnq.servlet.AccountRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>vinhnq.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>vinhnq.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchArticleServlet</servlet-name>
        <servlet-class>vinhnq.servlet.SearchArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailArticleServlet</servlet-name>
        <servlet-class>vinhnq.servlet.ViewDetailArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LikePostServlet</servlet-name>
        <servlet-class>vinhnq.servlet.LikePostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DislikePostServlet</servlet-name>
        <servlet-class>vinhnq.servlet.DislikePostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostingServlet</servlet-name>
        <servlet-class>vinhnq.servlet.PostingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentingServlet</servlet-name>
        <servlet-class>vinhnq.servlet.CommentingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePostServlet</servlet-name>
        <servlet-class>vinhnq.servlet.DeletePostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCommentServlet</servlet-name>
        <servlet-class>vinhnq.servlet.DeleteCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationServlet</servlet-name>
        <servlet-class>vinhnq.servlet.NotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBetweenJsp</servlet-name>
        <servlet-class>vinhnq.servlet.ServletBetweenJsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountVerifyServlet</servlet-name>
        <servlet-class>vinhnq.servlet.AccountVerifyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatcherServlet</servlet-name>
        <url-pattern>/DispatcherServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountRegisterServlet</servlet-name>
        <url-pattern>/AccountRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchArticleServlet</servlet-name>
        <url-pattern>/SearchArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailArticleServlet</servlet-name>
        <url-pattern>/ViewDetailArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LikePostServlet</servlet-name>
        <url-pattern>/LikePostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DislikePostServlet</servlet-name>
        <url-pattern>/DislikePostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostingServlet</servlet-name>
        <url-pattern>/PostingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentingServlet</servlet-name>
        <url-pattern>/CommentingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePostServlet</servlet-name>
        <url-pattern>/DeletePostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCommentServlet</servlet-name>
        <url-pattern>/DeleteCommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationServlet</servlet-name>
        <url-pattern>/NotificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBetweenJsp</servlet-name>
        <url-pattern>/ServletBetweenJsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountVerifyServlet</servlet-name>
        <url-pattern>/AccountVerifyServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            DispatcherServlet
        </welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>SocialNetwork</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
